.button{background-color: rgb(7, 181, 117);color: #fff;padding: 8px 10px; box-shadow: none;border:none;margin: 5px;cursor: pointer;;}
.card{ margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 5px #ccc;}
    .container{max-width: 1300px; margin: 10px auto;  }
    .form-control{padding: 8px 10px; border:1px solid #555;border-radius: 4px;margin:5px 10px 0px;width: 100%;}
    .is-invalid{border-color: #f00;}
    .error{font-size: 13px;color: #f00;margin-left: 10px;font-style: italic;margin-top: 5px;}